#ifndef HEAD_DIM
#define HEAD_DIM <% head_dim %>
#endif
#ifndef PREFILL
#define PREFILL
#endif
<% split_v_define %>
#include "xe_fmha_fwd_runner.hpp"

int main(int argc, const char **argv) {
  Options options;
  options.parse(argc, argv);

  if (options.help) {
    options.print_usage(std::cout) << std::endl;
    return 0;
  }
  if (options.error) {
    std::cerr << "Aborting execution." << std::endl;
    return -1;
  }

  // Tile shapes from tile tuning search
  using ShapeQK  = Shape<_<% qk_m %>, _<% qk_n %>, _<% qk_k %>>;
  using ShapePV  = Shape<_<% pv_m %>, _<% pv_n %>, _<% pv_k %>>;
  using ShapeOut = Shape<_<% out_m %>, _<% out_n %>>;
  using SubgroupLayoutQK = Layout<Shape<_<% sg_q %>, _1, _1>>;

  using ElementQ = <% element_type %>;
  using ElementK = <% element_type %>;
  using ElementV = <% element_type %>;

  constexpr int PipelineStages = <% pipeline_stages %>;

  return options.is_causal
    ? FMHAConfig<true,  ShapeQK, ShapePV, ShapeOut, SubgroupLayoutQK,
                 void, PipelineStages, false,
                 ElementQ, ElementK, ElementV>::run(options)
    : FMHAConfig<false, ShapeQK, ShapePV, ShapeOut, SubgroupLayoutQK,
                 void, PipelineStages, false,
                 ElementQ, ElementK, ElementV>::run(options);
}
